section[id*="better_input"] h2 p strong {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: underline;
  text-decoration-color: #cb342c;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}
.left_side .card:nth-of-type(3) span.red_line {
  width: 170px;
}
.better_input_slider.mobile {
  display: none;
}
.trigger_slider .card p b {
  font-weight: 600;
}
@media screen and (min-width: 989px) {
  .better_input_container .main_img_desk {
    padding-left: 35px;
  }
  section[id*="better_input"] {
    background: #ecf1f4;
    padding: 80px 0px 60px;
    border-radius: 0 100px 0 0;
    position: relative;
    z-index: 10;
  }
  .better_input_container.d-flex {
    display: flex;
    padding: 70px 0 0;
  }
  .better_input_container h5.card_heading {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    font-family: "Quicksand" !important;
    position: relative;
    width: max-content;
    letter-spacing: 0;
  }
  .better_input_container .dsc strong {
    font-weight: 600;
  }
  .better_input_container .dsc p {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
  }
  .better_input_container .card {
    margin-bottom: 30px;
  }
  .left_side .card:nth-of-type(1) {
    position: relative;
    right: -50px;
  }
  .left_side .card:nth-of-type(2) {
    position: relative;
    left: -50px;
  }
  .left_side .card:nth-of-type(4) {
    position: relative;
    left: 73%;
    margin-top: -25px;
  }
  .hover_img {
    display: none;
  }
  span.red_line {
    height: 2px;
    display: inline-block;
    width: 155px;
    background: #cb342c;
  }
  span.absolute {
    display: flex;
    align-items: center;
    position: absolute;
    left: 102%;
    top: -71%;
  }
  span.absolute img {
    height: 40px;
    width: 40px;
    margin-bottom: -3px;
  }
  span.absolute img.not_hover {
    object-fit: scale-down;
  }
  .better_input_container.d-flex {
    margin-left: 50px;
  }
  .left_side .card:nth-of-type(4) span.red_line {
    width: 25px;
    position: absolute;
    height: 25px;
    background: transparent;
    border-right: 2px solid #c7352c;
    border-bottom: 2px solid #c7352c;
    border-radius: 3px;
    bottom: -27%;
    left: 14%;
  }
  .left_side .card:nth-of-type(4) span.absolute {
    top: -62px;
    left: 105%;
  }
  .right_side span.absolute {
    right: 104%;
    left: auto;
  }
  .right_side span.absolute {
    flex-direction: row-reverse;
  }
  .right_side span.absolute span.red_line {
    width: 70px;
  }
  .right_side {
    padding-left: 40px;
    padding-top: 40px;
  }
  .right_side .card:nth-of-type(2) {
    position: relative;
    left: 50px;
  }
  .better_input_container .card {
    visibility: hidden;
  }
  .better_input_container img.not_hover {
    visibility: visible;
  }
  .better_input_container .card:hover {
    visibility: visible;
  }
  .better_input_container .card:hover img.not_hover {
    display: none;
  }
  .better_input_container .card:hover .hover_img {
    display: block;
  }

  section[id*="better_input"] p.description {
    text-align: center;
    font-size: 26px;
    margin-bottom: 0px;
    letter-spacing: 0;
  }
  section[id*="better_input"] .heading,
  section[id*="better_input"] .heading * {
    margin-top: 0;
  }
  .right_side .card:nth-of-type(3) {
    position: relative;
    left: 30px;
    top: -30px;
  }
  .right_side .card:nth-of-type(2) {
    position: relative;
    top: -35px;
  }
  .right_side .card:nth-of-type(1) {
    position: relative;
    top: -30px;
    left: -40px;
  }
  .left_side .card:nth-of-type(3) {
    position: relative;
    right: -30px;
    top: -25px;
  }
}
@media screen and (max-width: 1400px) {
  .better_input_container.d-flex {
    margin: 0;
  }
  span.red_line {
    width: clamp(70px, 10.375vw, 130px);
  }
  .left_side .card:nth-of-type(3) span.red_line {
    width: clamp(100px, 11.806vw, 150px);
  }
}
@media screen and (max-width: 1350px) {
  span.red_line {
    width: clamp(70px, 8vw, 130px);
  }
  .left_side .card:nth-of-type(3) span.red_line {
    width: clamp(100px, 10.5vw, 150px);
  }
}
@media screen and (max-width: 1300px) {
  span.red_line {
    width: clamp(70px, 10vw, 130px);
  }
  .left_side .card:nth-of-type(3) span.red_line {
    width: clamp(100px, 10vw, 150px);
  }
  .better_input_container h5.card_heading {
    font-size: 16px;
  }
  .better_input_container .right_side .card .dsc {
    font-size: 16px;
  }
  .better_input_container .card .dsc {
    font-size: 16px;
  }
  better_input_container .right_side .card .dsc {
    padding-right: 0;
  }
}
@media screen and (max-width: 1250px) {
  .left_side .card:nth-of-type(3) span.red_line {
    width: clamp(100px, 9.5vw, 150px);
  }
}
@media screen and (max-width: 1250px) and (min-width: 1024px) {
  section[id*="better_input"] .heading h2 p {
    font-size: clamp(1rem, 3.056vw, 44px);
  }
}

@media screen and (max-width: 1200px) {
  .trigger_slider .action img {
    height: 40px;
    width: 40px;
  }
  .left_side .card:nth-of-type(3) span.red_line {
    width: clamp(100px, 9vw, 150px);
  }
  .desktop.better_input_container.d-flex {
    display: none;
  }
  .better_input_slider.mobile {
    display: block;
  }

  .trigger_slider .action_image {
    position: relative;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
  .trigger_slider .action_image {
    margin: 60px auto 30px;
  }
  .trigger_slider .action {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .trigger_slider a[class*="slide"] {
    width: 85px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
  }
  .trigger_slider a.slide1 {
    left: 27%;
    top: -10%;
  }
  .trigger_slider a.slide2 {
    right: 31%;
    top: -2%;
  }
  .trigger_slider a.slide3 {
    bottom: 40%;
    right: 10%;
  }
  .trigger_slider a.slide4 {
    bottom: 2%;
    right: 16%;
  }
  .trigger_slider a.slide5 {
    bottom: -7%;
    left: 40%;
  }
  .trigger_slider a.slide6 {
    bottom: 16%;
    left: 28%;
  }
  .trigger_slider a.slide7 {
    left: 14%;
    bottom: 50%;
  }
  .trigger_slider img.mobile_hover_img {
    display: none;
  }
  .trigger_slider a.active img.mobile_not_hover {
    display: none !important;
  }
  .trigger_slider a.active img.mobile_hover_img {
    display: block !important;
  }
  .better_slider.en.appco_bg {
    padding: 0 20px;
}
  .trigger_slider .card {
    padding: 24px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background: #fff;
    border-radius: 20px;
    border: 2px solid transparent;
    height: auto;
    margin-bottom:20px;
  }
  .trigger_slider .card.slick-slide.slick-current.slick-active.slick-center {
    border: 2px solid #cb342c;
  }
  .trigger_slider .card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Quicksand" !important;
    letter-spacing: 0;
  }
  .trigger_slider .card p {
    margin-top: 10px;
    line-height: 1.2;
    letter-spacing: 0;
  }
  .trigger_slider .slick-slide {
    margin: 0 8px;
  }
  section[id*="better_input"] .page-width {
    padding: 0;
  }
  section[id*="better_input"] p.description {
    font-size: clamp(1rem, 1.806vw, 26px);
  }
}

@media screen and (max-width: 767px) {
  section[id*="better_input"] .heading,
  section[id*="better_input"] .heading * {
    margin-top: 0;
  }
  section[id*="better_input"] p.description {
    font-size: 18px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    letter-spacing: -0.5px;
  }
  section[id*="better_input"] h2 p strong {
    text-decoration-thickness: 2px;
  }
}
