.ingredients-info-modal {
    position: fixed;
    inset: 0;
    background: rgba(42, 42, 42, 0.60);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    z-index: 10;
}

.ingredients-info-modal[open] {
    opacity: 1;
    visibility: visible;
}

.ingredients-info-modal__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    max-width: 100%;
    width: 629px;
    border-top-left-radius: 60px;
    overflow: hidden;
    background-color: #FFF;
    transition: transform .3s ease;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.ingredients-info-modal[open] .ingredients-info-modal__inner {
    transform: translateX(0);
}

.ingredients-info-modal__slider.swiper {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.ingredients-info-modal__slider .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.ingredients-info-modal__slide.swiper-slide {
    overflow-y: auto;
    width: 100%;
    flex-shrink: 0;
}

.ingredient-popup-info {
    padding: 32px 24px;
}

.ingredients-info-modal__footer {
    position: sticky;
    bottom: 0;
    padding: 16px 24px 24px 24px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.ingredients-info-modal__navigation {
    display: flex;
    align-items: center;
    gap: 32px;
}

.ingredients-info-modal__navigation svg {
    display: block;
}

.ingredients-info-modal__pagination {
    color: var(--text-primary, #404040);
    text-align: right;
    font-family: var(--font-body-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.ingredients-info-modal__pagination-element {
    font-size: 0;
}

.ingredients-info-modal__current,
.ingredients-info-modal__total {
    font-size: 14px;
}

.ingredients-info-modal__total::before {
    content: var(--conjunction);
}

.ingredient-popup-info__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-right: 48px;
    position: relative;
}

.ingredient-popup-info__heading h3 {
    color: var(--text-primary, #404040);
    font-family: var(--font-heading-family);
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 0;
}

.ingredient-popup-info__close-button {
    position: absolute;
    right: -12px;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    background: none !important;
    outline: none !important;
    padding: 0;
    cursor: pointer;
}

.ingredients-info-modal__close svg {
    width: 16px;
    height: 16px;
}

.ingredient-popup-info__heading+.ingredient-popup-info__amount-per-serving {
    margin-top: 16px;
}

.ingredient-popup-info__amount-per-serving {
    padding: 12px 24px;
    background: #FAFCFE;
    border-radius: 5px;
    border: 1px solid var(--main-gray, #ECF1F4);
}

.ingredient-popup-info__amount-per-serving p {
    margin: 0;
}

*+.ingredient-popup-info__content {
    margin-top: 10px;
}

.ingredient-popup-info__image {
    width: 100%;
    height: 202px;
}

.ingredient-popup-info__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.ingredient-popup-info__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ingredient-popup-info__absorbability-comments p {
    margin: 0;
}

.ingredient-popup-info__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ingredient-popup-info__info-heading {
    color: var(--text-primary, #404040);
    font-family: var(--font-heading-family);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
}

.ingredient-popup-info__info-text {
    color: var(--text-primary, #404040);
    font-family: var(--font-body-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.ingredient-popup-info__info-text p {
    margin: 0;
}

.ingredient-popup-info__info-text p:not(:last-child) {
    margin-bottom: 10px;
}

.ingredient-popup-info__info-text ul {
    list-style: none;
    padding: 0;
}

.ingredient-popup-info__info-text ul li {
    padding-left: 28px;
    position: relative;
}

.ingredient-popup-info__info-text ul li::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M16.6673 5L7.50065 14.1667L3.33398 10' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    position: absolute;
    left: 0;
    top: 2px;
    display: block;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 749px) {
    .ingredients-info-modal__inner {
        width: 100%;
        border-top-left-radius: 0;
    }

    .ingredient-popup-info {
        padding: 24px 16px;
    }

    .ingredient-popup-info__image {
        width: calc(100% + 16px);
    }
    
    .ingredient-popup-info__image img {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}