.ingredient {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ingredient__image img {
  border-radius: 20px;
}

.ingredient__image {
  margin-bottom: 4px;
}

.ingredient__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.ingredient__name {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.4px;
  color: #2A2A2A;
  letter-spacing: normal;
}

.ingredient__name * {
  margin: 0;
  padding: 0;
}

.ingredient__amount {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2A2A2A;
  letter-spacing: normal;
  margin-left: auto;
}

@media screen and (max-width: 990px) {
  .ingredient__image {
    margin-bottom: 8px;
  }

  .ingredient__name {
    font-size: 16px;
    line-height: 22px;
  }

  .ingredient__amount {
    font-size: 12px;
    line-height: 22px;
  }

  .ingredient__info {
    align-items: flex-start;
  }
}