/*Header-css*/

/* body cart-drawer, body #CartDrawer {
    display: block !important;
}
.cst-custom-homepage-new  main#MainContent {
    margin: 0;
}
     .cst-custom-homepage-new #shopify-section-header .header-wrapper a span {
    font-size: 16px;
    font-weight: 400;
}
    .cst-custom-homepage-new #shopify-section-header .header-wrapper a span:hover{
       font-weight: 400 !Important;
}
    .cst-custom-homepage-new #shopify-section-announcement-section {
    background: #ECF1F4;
}

    .cst-custom-homepage-new #shopify-section-announcement-section .announcement-left.appco_bg {
    align-items: center !important;
}

    .cst-custom-homepage-new #shopify-section-announcement-section .announcement-left.appco_bg span {
    height: 24px;
}

#shopify-section-announcement-section .announcement-left.appco_bg  p {
    font-size: 14px;
    color: #404040;
    font-weight: 400;
        margin:0 !Important;
}
     .cst-custom-homepage-new #shopify-section-announcement-section .localization-selector.header__icon span {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #404040;
}
    .cst-custom-homepage-new #shopify-section-header .header-wrapper a ,  #shopify-section-header .header-wrapper a:hover{
        color: #fff !important;
    font-weight: 400;
}

body cart-drawer, body #CartDrawer {
    display: block !important;
}
.cst-custom-homepage-new  main#MainContent {
    margin: 0;
}
.cst-custom-homepage-new .header--top-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-areas: "navigation heading icons left-icon" !important;
}

.cst-custom-homepage-new .header--top-center .header__inline-menu,
.cst-custom-homepage-new .header--top-center .header__inline-menu > .list-menu--inline {
    justify-content: left !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    gap: 14px;
}

.cst-custom-homepage-new .header--top-center .list-menu li {
    padding-left: 10px !important;
}

.cst-custom-homepage-new ul.list-menu.list-menu--inline {
    background: transparent;
    padding-top: 0;
}

.cst-custom-homepage-new #shopify-section-header .header-wrapper a span {
    font-size: 16px;
    font-weight: 400;
}

.cst-custom-homepage-new #shopify-section-announcement-section {
    background: #ECF1F4;
}

.cst-custom-homepage-new #shopify-section-announcement-section .announcement-left.appco_bg {
    align-items: center !important;
}

.cst-custom-homepage-new #shopify-section-announcement-section .announcement-left.appco_bg span {
    height: 24px;
}

.cst-custom-homepage-new #shopify-section-announcement-section .announcement-left.appco_bg p {
    font-size: 14px;
    color: #404040;
    font-weight: 400;
    margin: 0 !important;
}

.cst-custom-homepage-new #shopify-section-announcement-section .localization-selector.header__icon span {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #404040;
}

.cst-custom-homepage-new #shopify-section-header .header-wrapper a,
.cst-custom-homepage-new #shopify-section-header .header-wrapper a:hover {
    color: #fff !important;
    font-weight: 400;
}

.cst-custom-homepage-new .cst-menu-button {
    padding: 9px 15px;
    background: #CB342C;
    border-radius: 40px;
    font-size: 16px;
    line-height: 29px;
    font-family: 'Quicksand';
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0;
    box-shadow: none;
    border: none;
    transition: background 0.2s;
}

.cst-custom-homepage-new .cst-menu-button a {
    text-decoration: none;
    color: #fff !important;
} */
/*Header-css*/
.cst-review-main-heading div {
    font-size: 40px;
    font-weight: 600;
    color: #404040;
    font-family: 'Lora' !important;
    margin: 0;
    padding-top: 30px;
        line-height:normal;
}

.cst-review-main-heading div span {
    font-size: 40px;
    font-weight: 600;
    color: #d64141;
    margin-bottom: 25px;
    font-family: 'Lora' !important;
}

section#shopify-section-template--27370123854171__custom_text_km84zG .page-width {
    max-width: 1440px;
    margin:  0 auto;
    padding: 0 20px;
}
#shopify-section-template--27370123854171__1765445861184d8475 .section--padding {
    padding: 0;
}
section{
    padding:0 !important;
}


/* footer  */
.footer__payment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.footer-selectorr {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 18px;
}

.footer-menu-contetn {
    text-align: right;
}

.footer-menu-contetn ul.list.list-payment {
    justify-content: flex-end;
}
.botom-f {
    background-color: #ECF1F4;
    padding: 20px 0;
}
.footer__content-bottom localization-form.on-header {
    border: 1px solid #7E7B7B;
    width: 190px;
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    padding: 0 !important;
}
.botom-f p {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    width: 100%;
    max-width: 900px;
}

.botom-f p a {
    color: #CB342C;
}
.footer__content-bottom localization-form.on-header form#HeaderLanguageForm {
    padding: 0;
}
.footer__payment {
    margin-top: 30px !important;
}
small.copyright__content {
    font-family: Quicksand;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.footer__content-bottom localization-form.on-header span.label {
    display: block;
}
.footer__content-bottom localization-form.on-header button.disclosure__button.localization-form__select {
    gap: 10px;
    padding:4px;
}












@media screen and (max-width:1200px){

    .cst-review-main-heading div {
    font-size:34px;
}

.cst-review-main-heading div span {
    font-size:34px;
}
.footer__payment {
    display: grid;
    grid-template-columns: 1fr;

}
.footer-menu-contetn ul.list.list-payment {
    justify-content: flex-start;
    margin-top: 20px;
}
.footer-selectorr {
    grid-template-columns: auto;

}
}

@media screen and (max-width:575px){

    .cst-review-main-heading div {
    font-size:24px;
}

.cst-review-main-heading div span {
    font-size:24px;
}
}
/* 
@media screen and (max-width:1430px){
  .cst-custom-homepage-new  .header--top-center .list-menu li {
    padding-left: 0 !important;
}

}
@media screen and (max-width:1300px){
   .cst-custom-homepage-new #shopify-section-announcement-section .page-width {
    padding: 0 20px;
}
  .cst-custom-homepage-new  header.header {
        padding: 15px 20px !Important;
    }
}
@media screen and (max-width:989px){
       .cst-custom-homepage-new #shopify-section-announcement-section .page-width {
        padding: 10px 20px;
    }
    .cst-custom-homepage-new .announcement-wrapper {
        justify-content: center !important;
    }
   .cst-custom-homepage-new drawer-close-button.header__icon.bottom.medium-hide.large-up-hide {
    position: absolute;
    right: 0;
    top: 14px;
}
.cst-custom-homepage-new #shopify-section-announcement-section .announcement-right {
    display: none;
}
       .cst-custom-homepage-new .cart-drawer-container span.header__icon--summary svg {
        top: 0;
    }
  .cst-custom-homepage-new  .header__left {
    grid-area: unset;
}
.cst-custom-homepage-new .cst-menu-button{
    display:none;
}
.cst-custom-homepage-new #shopify-section-header a.header__icon.header__icon--account {
    display: none !important;
}
} */