.ingredient__swipers {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transition: .4s all;
}

.ingredient__swipers .swiper {
  display: none;
}

.ingredient__swipers .swiper.is--show {
  display: block;
}

body.is--show-swiper .ingredient__swipers {
  opacity: 1;
  visibility: visible;
}

.ingredient__swipers .swiper-slide {
  overflow: auto;
}

.ingredient__swipers .overlay {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #2A2A2A99;
  display: block;
}

.ingredient__swiper.swiper {
  max-width: 629px;
  width: 100%;
  position: relative;
  z-index: 2;
  margin: 0 0 0 auto;
  height: 100%;
  background: #FFFFFF;
  border-radius: 62px 0 0 0;
}

.ingredient__swiper .close-icon {
  position: absolute;
  top: 49.5px;
  right: 24px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  z-index: 2;
}

.ingredient__swiper .close-icon svg {
  width: 100%;
  height: 100%;
}

.ingredient__swiper .i-heading h3 {
  margin: 0 0 16px 0;
  padding: 0;
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 128%;
  letter-spacing: -.7px;
  color: #404040;
}

.ingredient__swiper .i-heading h3 * {
  padding: 0;
  margin: 0;
}

.swiper-slide-content {
  padding: 32px 24px 51.6px;
}

.i-amount {
  padding: 12px 24px;
  border: 1px solid var(--background-accent, #ECF1F4);
  background: #FAFCFE;
  border-radius: 5px;
  margin-bottom: 10px;
}

.i-amount span {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #404040;
  letter-spacing: normal;
}

.i-amount span.label {
  font-weight: 600;
}

.i-image {
  margin-bottom: 32px;
}

.i-image img {
  border-radius: 8px;
}

.i-image::before {
  padding-top: 34.768%;
}

.i-absorbability-comments {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: normal;
  color: #404040;
  margin-bottom: 32px;
}

.i-item-heading {
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #404040;
  margin-bottom: 16px;
  letter-spacing: -0.7px;
  margin: 0 0 16px 0;
}

.i-benefits,
.i-evidence,
.i-source,
.i-percent,
.i-sub-ingredient {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: normal;
  font-weight: 400;
  color: #404040;
  margin: 0 0 32px 0;
}

.i-benefits *,
.i-evidence *,
.i-source *,
.i-percent *{
  margin: 0;
}

.i-evidence ul,
.i-evidence ol,
.i-source ol,
.i-source ul {
  padding-left: 28px;
}

.i-evidence li,
.i-source li {
  position: relative;
  list-style: none;
}

.i-evidence li::before,
.i-source li::before {
  content: "";
  display: block;
  background: url("https://cdn.shopify.com/s/files/1/0708/7462/8371/files/Frame_1.svg?v=1764920512");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  min-width: 20px;
  position: absolute;
  top: 0;
  left: -28px;
}

.i-benefits .metafield-rich_text_field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.swiper-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 24px;
  background: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.swiper-footer .swiper-button {
  width: 16px;
  height: 16px;
  transform: none !important;
  margin: 0 !important;
  opacity: 1 !important;
  position: static;
  color: transparent;
}

.swiper-footer .swiper-navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.swiper-footer .swiper-button::after {
  content: none;
}

.swiper-footer .current-item {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: normal;
  color: #404040;
}

@media screen and (max-width: 990px) {
  .swiper-slide-content {
    padding: 24px 16px 60px;
  }

  .ingredient__swiper {
    border-radius: 0;
    max-width: initial;
  }

  .ingredient__swiper .close-icon {
    right: 16px;
    top: 41.5px;
  }

  .i-amount {
    padding: 5.5px 24px;
  }

  .i-image:before {
    padding-top: 54.012%;
  }

  .i-image {
    width: calc(100% + 16px);
  }

  .i-image img {
    border-radius: 8px 0 0 8px;
  }

  .swiper-footer {
    padding: 16px 24px 24px;
  }
}