.product-new-custom-product .review-photos img:first-child {
    object-position: top;
}
.reviews-strip {
display: flex;
align-items: center;
gap: 10px;
}


.sub-text {
color: #404040;
text-align: left;
font-family: "Quicksand", sans-serif;
font-size: 12px;
line-height: 140%;
font-weight: 700;
}

.title_wrapper_box h1 {
color: #404040;
text-align: left;
font-family: "Lora", serif;
font-size: 40px;
letter-spacing: -0.02em;
font-weight: 600;
margin-bottom: 8px;
}

.title_wrapper_box span {
color: #7e7b7b;
text-align: left;
font-family: Quicksand,sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;
width: 100%;
max-width: 526px;
display: block;
}

.cst-richtext-block-area ul li {
color: #404040;
text-align: left;
font-family: "Quicksand", sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;
margin-bottom: 8px;
position: relative;
/* needed for the image positioning */
padding-left: 30px;
/* space for the image */
list-style: none;
}

/* Images for each li */
.cst-richtext-block-area ul li:nth-child(1)::after {
content: "";
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 24px;
height: 24px;
background-image: url('https://cdn.shopify.com/s/files/1/0708/7462/8371/files/icon_8ed157e4-945a-49a4-abf8-e2a87c4d5a38.png?v=1763621625');
background-size: cover;
}

.cst-richtext-block-area ul li:nth-child(2)::after {
content: "";
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 24px;
height: 24px;
background-image: url('https://cdn.shopify.com/s/files/1/0708/7462/8371/files/2_d4626ff1-28d6-4fcb-b56c-8e2a98cb5a05.png?v=1763621692');
background-size: cover;
}

.cst-richtext-block-area ul li:nth-child(3)::after {
content: "";
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 24px;
height: 24px;
background-image: url('https://cdn.shopify.com/s/files/1/0708/7462/8371/files/3_a25da5ef-3b99-4b2b-830a-1b723d21ebd8.png?v=1763621936');
background-size: cover;
}

.cst-richtext-block-area ul li:nth-child(4)::after {
content: "";
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 24px;
height: 24px;
background-image: url('https://cdn.shopify.com/s/files/1/0708/7462/8371/files/4_0c98b538-65b9-42be-9e91-9c8ac0d6bb83.png?v=1763621935');
background-size: cover;
}

.cst-richtext-block-area ul li:nth-child(5)::after {
content: "";
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 24px;
height: 24px;
background-image: url('https://cdn.shopify.com/s/files/1/0708/7462/8371/files/5_4ba9b49d-2557-4a43-b672-36940234f344.png?v=1763621934');
background-size: cover;
}
.product-new-custom-product .product__info-container section.black-friday-offer-section {
margin-bottom: 30px;
}
.user-name h4 {
font-size: 12px;
}
.main_div_icon {
display: flex;
background: rgba(182, 40, 32, 0.04);
border-radius: 8px;
border-style: solid;
border-color: #cb342c;
border-width: 1px;
padding: 16px 8px;
flex-shrink: 0;
width: 260px;
align-items: center;
gap: 10px;
height: 59px;
margin-top: 16px;
}

.text-image-div {
margin-top: 56px;
}
.profitiere-text-1 svg {
position: absolute;
bottom: 3px;
left: 37%;
cursor: pointer;
}
.main_div_icon .text-image-data {
color: #404040;
text-align: left;
font-size: 12px;
line-height: 140%;
font-weight: 400;
margin: 0;
}
.cst-flavour-section p {
color: #404040;
text-align: left;
font-size: 12px;
line-height: 140%;
font-weight: 400;
margin: 0;
}

.cst-flavour-section p strong {
font-size: 16px;
font-weight: 700;
}

.cst-richtext-block-area ul {
padding: 0;
margin-top: 32px;
}

button.product-form__submit.button {
width: 100%;
}

.cst-delivery-section .main_div_icon-first {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}

.cst-delivery-section p {
text-align: left !important;
font-size: 14px !important;
line-height: 140% !important;
font-weight: 700 !important;
margin: 0 !important;
color: #404040 !important;
}

.cst-delivery-section p strong {
color: #34a853;
}

.product-link__image {
display: flex;
justify-content: center;
margin-top: 12px !important;
}

.product-form__buttons {
margin-top: 0;
}

.buy_button-wrapper {
margin: 0 !important;
}

.buy_button-wrapper {
margin: 0 !important;
}

.cst-flavour-section {
margin-bottom: 32px;
}

.guarantee-strip {
background: #fafcfe;
border-radius: 8px;
padding: 12px 24px;
display: flex;
justify-content: space-between;
align-items: center;
margin-top:20px;
}

.guarantee-left span {
color: #404040;
text-align: left;
font-family: Quicksand,sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 700;
width: 100%;
max-width: 450px;
display: block;
}

.guarantee-left {
display: flex;
align-items: center;
gap: 6px;
}

.guarantee-right a {
color: #404040;
text-align: left;
font-family: "Quicksand", sans-serif;
font-size: 12px;
line-height: 140%;
font-weight: 500;
text-decoration: underline;
}

span.review-text {
color: #404040;
text-align: left;
font-family: "Quicksand", sans-serif;
font-size: 12px;
line-height: 140%;
font-weight: 500;
}

/* FIRST IMAGE – 630px height */
ul.product__media-list li:first-child modal-opener.product__modal-opener--image.no-js-hidden {
height: 630px !important;
margin-bottom: 76px;
}

/* OTHER 4 IMAGES – 312px height */
ul.product__media-list li:not(:first-child) modal-opener.product__modal-opener--image.no-js-hidden {
height: 312px !important;
}


ul.product__media-list {
display: grid !important;
grid-template-columns: 1fr 1fr;
/* 2 columns */
gap: 16px;
/* spacing */
}
ul.product__media-list li:not(:first-child) modal-opener.product__modal-opener--image.no-js-hidden use-animate.media-wrapper {
height: 100%;
border-radius:20px;
}
ul.product__media-list li:first-child {
grid-column: span 2;
/* full row */
}

ul.product__media-list li {
max-width: 100%;
}

ul.product__media-list li:not(:first-child) modal-opener.product__modal-opener--image.no-js-hidden .product__media.image-animate.media.media--adapt.media-mobile--square {
height: 100%;
border-radius:20px;
}

span.accordion__title {
color: #404040;
text-align: left;
font-family: Quicksand,sans-serif;
font-size: 19px!important;
line-height: 140%;
font-weight: 700;
letter-spacing: normal!important;
text-transform: capitalize !important;
}

.accordion__content p {
font-family: "Quicksand", sans-serif;
color: #404040;
text-align: left;
font-size: 16px;
line-height: 140%;
font-weight: 400;
}

.main_div_icon-first {
display: flex;
align-items: flex-end;
gap: 10px;
}

.main_div_icon-first .text-image-data p:first-child {
text-align: left;
font-size: 19px;
line-height: 140%;
color: #404040;
font-weight: 600;
}
.main_div_icon-first .text-image-data p:nth-child(2) {
color: #404040;
text-align: left;
font-family: "Quicksand", sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 400;
}
.cst-drashley-section .main_div_icon-first {
background: rgba(182, 40, 32, 0.08);
border-radius: 20px;
padding: 29px 37px;
}
.main_div_icon-first .text-image-data p:last-child {
color: #404040;
text-align: left;
font-family: "Quicksand", sans-serif;
font-size: 12px;
line-height: 140%;
font-weight: 400;
margin-bottom:0;
}
.main_div_icon-first .text-image-data h4 {
margin-top: 32px;
}
.review-quote-text p {
color: #404040;
text-align: left;
font-size: 16px;
line-height: 140%;
font-weight: 700;
}


.review-quote-wrapper {
margin-top: 42px;
}
span.sub-review {
font-weight: 400;
}
.cst-bottom-18 {
background-color: #fafcfe;
}

.cst-review-main-heading .rich-text__blocks {
color: #404040;
text-align: left;
font-family: "Lora", serif !important;
font-size: 64px;
letter-spacing: -0.02em;
font-weight: 600;
line-height: 70px;
width: 100%;
max-width: 950px;
margin-top: 50px;
}

.cst-review-main-heading {
width: 100%;
margin: 0 auto;
max-width: 1080px;
}
.main_div_icon .text-image-data strong {
display: block;
}
ul#Slider-Thumbnails-template--27139801579867__new_custom_product_pizi8Y {
display: none;
}
.slider-button {
display: none !important;
}

.new--custom--product-page {
padding: 0 16px !important;
}
.wrapper-image-text {
display: flex;
align-items: center;
gap: 10px;
margin-top:30px;

}
.main_div_icon-first .text-image-data p:first-child em {
font-style: italic;
}
.product__accordion .accordion__content {
max-height: max-content;
overflow-x: auto;
overflow-y: auto;

}

.profitiere {
background: #fafcfe;
border-radius: 20px;
padding: 16px 24px;
position:relative;
}
ul.product__media-list li:not(:first-child) modal-opener.product__modal-opener--image.no-js-hidden .product__media {
height: 100%;
}
.profitiere h2 {
color: #404040;
font-size: 16px;
line-height: 140%;
font-weight: 600;
margin-bottom: 16px;

font-family: Lora, serif;
}

.profitiere-img-container {
display: flex;
align-items: center;
margin-bottom: 16px;
gap: 10px;
position:relative;
}

.profitiere-text-1 p {
color: #404040;
text-align: left;
font-size: 14px;
line-height: 140%;
font-weight: 400;
font-family: Quicksand, sans-serif;
margin-bottom:0;
}

.profitiere-text-1 {
max-width: 253px;
width: 100%;
}

.profitiere-text-2 p {
color: #404040;
text-align: left;
font-size: 14px;
line-height: 140%;
font-weight: 400;
font-family: Quicksand, sans-serif;
}
.product__info-wrapper.grid__item {
padding-left: 32px !important;
padding-top: 40px;
}

div#ProductInfo-template--27139801579867__new_custom_product_pizi8Y {
padding-left: 0 !important;
}
.cst-delivery-section .main_div_icon-first .text-image-data {
display: flex;
flex-direction: row-reverse;
margin-bottom: 10px;
align-items:center;
}
.cst-delivery-section .wrapper-image-text {
margin-top: 0;
}
.pop-img img {
width: 100%;
border-radius: 20px;
}

.profitiere-popup {
background: #fff;
max-width: 629px;
margin: 0 auto;
padding: 24px 24px 78px;
border-radius: 20px;
box-shadow: #959da533 0 8px 24px;
position: absolute;
z-index: 999;
top: 50%;
left: 0%;
width:100%;

}

span.popup-close img {
max-width: 16px;
cursor: pointer;
}

span.popup-close {
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

.popup-body h3 {
    color: #404040;
    text-align: left;
    font-family: "lora", serif;
    font-size: 40px;
    letter-spacing: -0.02em;
    font-weight: 600;
}

.popup-body>p {
    color: #7e7b7b;
    text-align: left;
    font-family: "quicksand", sans-serif;
    font-size: 19px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 10px;
}

.pop-img img {
    height: 202px;
    object-fit: cover;
    margin-bottom: 32px;
}

.pop-img p {
    color: #404040;
    text-align: left;
    font-family: "lora", serif !important;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 32px;

}
.profitiere h2 em {
color: #404040;
font-style: italic;
}
.pop-img span {
    color: #ffffff !important;
    text-align: center;
    font-family: "quicksand", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    background: #8cbfbd;
    border-radius: 999px;
    padding: 2px 12px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    margin-bottom: 32px;
}
.ablauf-box p a{
color:#7e7b7b!important;
}


.ablauf-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ablauf-box h4 {
    color: #404040;
    text-align: left;
    font-family: "lora", serif;
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 600;
    margin-bottom: 16px;
}

.ablauf-box-item {
    color: #404040 !important;
    font-family: "quicksand", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 2px
}
.popup-body .ablauf-box:last-child{
margin-top: 32px;
}
.ablauf-box-item-inner p {
    color: #7e7b7b !important;
    padding-left: 1em;
    font-family: "quicksand", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}

.ablauf-box p {
    color: #404040;
    text-align: left;
    font-family: "quicksand", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;

}
section:has(.product)::before {
display: none;
}
.guarantee-wrapper-wrap a {
color: #404040;
text-align: left;
font-family: Quicksand, sans-serif;
font-size: 12px;
line-height: 140%;
font-weight: 500;
text-decoration: underline;
display: none;
}
.reviews_wrapper {
display: flex;
align-items: center;
gap: 3px;
}

.review-photos {
display: flex;
gap: 11px;
justify-content: space-between;
}
.review-photos img{
    width:100%;
}
.accordion {

border-top: none;

}
.image-user img {
width: 38px;
height: 38px;
object-fit: contain;
}

.user-name h4 {
margin-top: 0 !important;
}

button#loadMore {
border-radius: 999px;
border: 1px solid #cb342c;
padding: 12px 16px;
color: #cb342c;
text-align: center;
font-family: "Quicksand-Bold", sans-serif;
font-size: 16px;
line-height: 140%;
font-weight: 700;
}

.main_div_icon .text-image-data p br {
display: none;
}

.cst-flavour-section {
margin-top: 40px;
}
.product__accordion .accordion__content ul li {
color: #404040;
text-align: left;
font-size: 16px;
line-height: 140%;
font-weight: 400;
}
html[lang="en"] .profitiere-text-1 svg {
position: absolute;
bottom: 3px;
left: 26%;
cursor: pointer;
}

html[lang="de"] .profitiere-popup.Uk-popup {
display: none;
}
html[lang=en] .profitiere-popup.DE-popup{
    display: none;
}

/* energieniveau css */
.product-new-custom-product .energieniveau {
    padding: 90px 0 40px;
}
.product-new-custom-product .cycle-image {
position: absolute;
top: -11px;
right: 0;
}

.product-new-custom-product  .cycle-image img {
    border-radius: 20px;
height: 912px;
object-fit: cover;
transform: none;
z-index: -1;
position: relative;
border-bottom-right-radius: 0;
}
.product-new-custom-product  .energieniveau .col-md-6.appco_bg:nth-child(1){
max-width: 837px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
padding: 50px 62px;
border-radius: 20px;
    z-index: 9;
position: relative;
background: #fff;
width:100%;
}
.product-new-custom-product .energieniveau .container.appco_bg {
max-width: 1440px;
padding: 0 16px;
}
.energieniveau {
padding: 40px 0;
position: relative;
}

.product-new-custom-product  .energieniveau-inner {
padding: 56px 0;
border-radius: 20px;
min-height: 675px;
position: relative;
}
.product-new-custom-product .mobile-image {
display: none;
}
.product-new-custom-product.template-product .cst-meet-our-women-health .health_expert {
border-radius: 0;
}
.product-new-custom-product .health_expert-new-section .page-width {
padding: 80px 20px 0;
}
.product-new-custom-product .warum-monthlies {
display:none;
}

/* 12-01-2026 start */
h1.product__heading.h1::after {
    display: none;
}
.profitiere-text-1 {
    position: relative;
}

.profitiere-text-1 .info-icon {
    position: absolute;
    right: 0;
    top: 20px;
    transform: translateY(-50%);
}
.review-photos img {
    width: 160px !important;
    height: 160px !important;
    object-fit: cover;
}
.review-photos>:first-child {
    border-radius: 0 10px 10px 0;
}

.review-photos>:last-child {
    border-radius: 10px 0 0 10px;
}

/* 12-01-2026 end */


/* energieniveau css */
@media (max-width: 1440px) {
.product-new-custom-product .energieniveau .col-md-6.appco_bg:nth-child(1) {
max-width: 816px;
}
}
@media (max-width: 1300px) {
    .product-new-custom-product .energieniveau .col-md-6.appco_bg:nth-child(1) {
    max-width: 650px;
}
.aussagen-text-inner p {
max-width: 500px;
}
}
@media (max-width:1199px) {
    .container {
padding: 0 16px !important;
}
}
@media (max-width: 1050px) {
.product-new-custom-product .energieniveau .col-md-6.appco_bg:nth-child(1){
    max-width: 550px;
            padding: 50px 30px;
}
}
@media (max-width:991px) {
    .text-image-div.cst-delivery-section {
    margin-top: 0;
}
    .product-new-custom-product .health_expert-new-section .page-width{
        padding: 50px 20px;
    }
.product-new-custom-product .mobile-image {
display: block;
}
.product-new-custom-product .desktop-image {
display: none;
}
.product-new-custom-product .cycle-image {
position: unset;
display: flex;
justify-content: center;
width: 100%;
}

.product-new-custom-product  .energieniveau  .row.appco_bg {
display: flex;
flex-direction: column-reverse;
}
.product-new-custom-product   .energieniveau-inner {
    padding: 0;
    height: auto;
} 
.product-new-custom-product .energieniveau .container{
        padding: 0 !important;
}
.product-new-custom-product .energieniveau .col-md-6.appco_bg:nth-child(1){
    padding: 0 15px 30px;
}

.product-new-custom-product .energieniveau .col-md-6.appco_bg:nth-child(1) {
    max-width: 96%;
padding: 0 15px 30px;
position: relative;
margin: 0 auto;
margin-top: -76px;
}

.product-new-custom-product .cycle-image img {
        width: 100%;
    max-width: 100%;
    height: 100%;
}
.cst-review-main-heading .rich-text__blocks {
font-size: 24px;
line-height: 30px;
padding-left: 16px;
padding-right: 16px;
}
ul.product__media-list {
display: flex !important;
}
.thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide img {
opacity: 1;
}
button.thumbnail {
width: 100px !important;
height: 100px !important;
}
ul#Slider-Thumbnails-template--27139801579867__new_custom_product_pizi8Y {
display: flex;
}
.template-product .product--thumbnail_slider .thumbnail-slider .thumbnail-list li {
max-width: 80px;
max-height: 79px;
border-radius: 20px;
}

.main_div_icon-first .wrapper-image-text {
margin-top: 0;
}

ul.product__media-list li:not(:first-child) modal-opener.product__modal-opener--image.no-js-hidden {
height: auto !important;
}
.thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide img {
opacity: 1 !important;
}
ul.product__media-list li:not(:first-child) modal-opener.product__modal-opener--image.no-js-hidden {
height: auto !important;
}
.thumbnail:after{
display:none;
}
.product.product--medium.product--left.product--thumbnail_slider.grid.grid--1-col.grid--2-col-tablet.product--hide-thumbnails {
display: block !important;
} 
.product.product--medium.product--left.product--thumbnail_slider .grid__item {
width: 100% !important;
}
div#ProductInfo-template--27139801579867__new_custom_product_pizi8Y {
margin-top: 20px;
padding: 0 !important;
}
.cst-drashley-section .main_div_icon-first {
padding: 21px 16px;
}
.product__info-wrapper.grid__item {
padding-left: 0 !important;
}
.profitiere {
display: block;
}
.title_wrapper_box span {
font-size: 14px;
}
.reviews-strip {
margin-bottom: 8px;
}
.reviews-info .sub-text {
margin-top: 2px;
}

.title_wrapper_box h1 {

margin-bottom: 8px !important;
}
ul#Slider-Gallery-template--27139801579867__new_custom_product_pizi8Y {
margin-top: 16px;
}
.thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide.is-active {
background: #000000 !important;
border: 1px solid #000000 !important;
outline: none !important;
}
ul#Slider-Gallery-template--27139801579867__new_custom_product_pizi8Y {
margin-top: 16px;
}

button.thumbnail img {
height: 100% !important;
object-fit: contain !important;
position: static !important;
}
button.thumbnail {

padding: 0;
}
ul#Slider-Thumbnails-template--27139801579867__new_custom_product_pizi8Y li {
width: 100px !important;
height: 100px;
}
ul#Slider-Thumbnails-template--27139801579867__new_custom_product_pizi8Y {
position: static !important;
overflow-x: auto;
padding: 0 20px;
}

thumbnail-slider#GalleryThumbnails-template--27139801579867__new_custom_product_pizi8Y {
position: static;
transform: none;
}
.review-photos {
    display: flex;
    flex-wrap: nowrap;         
    overflow-x: auto;          
    gap: 12px;                
    -ms-overflow-style: none;  
    scrollbar-width: none;     
}

.review-photos::-webkit-scrollbar {
    display: none; 
}
}


@media (max-width:767px) {
    
.product-new-custom-product .review-photos {
    min-width: 677px;
    }
    
    .product-new-custom-product .review.wrapiong {
    overflow-x: scroll;
    }
    
    .product-new-custom-product .review-mainwtap {
    overflow: hidden;
    }
.product-new-custom-product .energieniveau .col-md-6:nth-child(1) {
    width: calc(100% - 50px);
}
.test_products.product__title {
width: 100% !important;
padding-left:0px;
}
html[lang="en"] .cst-richtext-block-area ul {
padding: 0;
margin-top: 100px;
}
.cst-richtext-block-area ul {
padding: 0;
margin-top: 120px;
}
ul.product__media-list li:first-child modal-opener.product__modal-opener--image.no-js-hidden {
height: auto !important; 
margin-bottom: 8px;
}

ul#Slider-Thumbnails-template--27139801579867__new_custom_product_pizi8Y {
position: static !important;
overflow-x: auto;
padding: 0px;
}

thumbnail-slider#GalleryThumbnails-template--27139801579867__new_custom_product_pizi8Y {
position: static;
transform: none;
border-radius: 0;
}
.title_wrapper_box h1 {
font-size: 24px;

}
.cst-richtext-block-area ul li {
font-size: 14px;

}
.slider-button {
display: block !important;
}
.profitiere-text-1 svg {

left: 60%;
}
.guarantee-right {
display: none;
}
.guarantee-wrapper-wrap a {

display: block;
}
.guarantee-strip {
padding: 12px 16px;

}
.aussagen-text-inner {
padding-left: 0;

}
.popup-body h3 {
font-size: 24px;

}
html[lang="en"] .profitiere-text-1 svg {

left: 67%;

}
.guarantee-strip {
    margin-top: 32px;
    background: var(--background-light, #fafcfe);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--background-accent, #ecf1f4);
    border-width: 1px;
    padding: 16px 16px 16px 24px;
}
.cycle-tabs li {
    font-size: 12px!important;
}

.energieniveau-content .cycle-tabs {
    padding: 3px 4px;
    justify-content:space-between;
}
.cst-review-main-heading .rich-text__blocks br {
    display: none;
}
.cst-review-main-heading .rich-text__blocks {
    text-align: center;
}
.product__info-wrapper.grid__item {
    padding-top: 0;
}
.profitiere {
    padding: 0;
}
.footer .disclosure__button span {
    font-size: 13px!important;
}
.cst-review-main-heading div {
    padding-top: 0;
}
.cst-review-main-heading .rich-text__blocks {
    margin-top: 0;
}
}

@media (max-width:420px) {
.profitiere-text-1 svg {

    left: 78%;
}
html[lang="en"] .profitiere-text-1 svg {

left: 78%;

}
}