h2 {
  font-size: 28px;
  font-weight: 500 !important;
}
.image-with-text__subheading--colored {
  display: flex; /* Use Flexbox */
  align-items: center; /* Vertically center align items */
  background: #add0bf;
  padding: 10px 15px;
  border-radius: 50px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: none;
}
.image-with-text__subheading svg{
  margin-right:8px;
}

.compare-at-price {
  text-decoration: line-through;
  font-size: 1em;
  margin: 0 !important;
  padding: 0 !important;
}
.actual-price {
  font-size: 28px;
  font-weight:500;
  line-height: 0.8;
  margin: 0 !important;
  padding: 0 !important;
}
.superscript {
  vertical-align: super;
  font-size: 20px;
}
.pricing-and-button-wrapper {
  display: flex;
  align-items: center;
}

.product-prices {
  margin-right: 20px; /* Adjust the space between the prices and the button as needed */
}

.button-container {
  flex-shrink: 0; /* Prevents the button from shrinking */
}
.button {
  margin-top: 5px !important;
}
.pricing-deal .image-with-text__grid {
  display: flex;
  align-items: center; /* Vertically centers the content in the flex container */
}
.pricing-deal .media-wrapper {
  flex: 0 1 auto;
}

@media (max-width: 768px) { /* Adjusts the breakpoint as necessary */
  .pricing-deal .media-wrapper {
    margin-top: 40px; /* Adds space above the image on mobile devices */
  }
}

/** Optional **/
.image-with-text__grid, .image-with-text__content{background:none !important; color:#fff !important;}
.pricing-deal .image-with-text__heading, .pricing-deal .image-with-text__text{color:#fff}
.pricing-deal {
  background: #e76464 !important;
  color:#fff !important;
  background-image: url('https://cdn.shopify.com/s/files/1/0708/7462/8371/files/monthlies_full_svg_logo.svg?v=1709153520') !important;
  background-repeat: no-repeat !important;
  background-position: left top !important; /* Center the SVG */
  background-size: 50% !important; /* Adjust the size of the SVG as needed */
}