.product-presentation-banner {
    background: var(--background);
    border-top-right-radius: 120px;
}

.product-presentation-banner__content-wrapper.page-width {
    max-width: 1380px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.product-presentation-banner__text {
    width: 39.91769547%;
}

.product-presentation-banner__title {
    color: var(--text-primary, #404040);
    font-family: var(--font-heading-family);
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 0;
}

.product-presentation-banner__title p {
    margin: 0;
}

.product-presentation-banner__title strong {
    color: var(--main-red, #CB342C);
}

*+.product-presentation-banner__subtitle {
    margin-top: 16px;
}

.product-presentation-banner__subtitle {
    color: var(--text-primary, #404040);
    font-family: var(--font-body-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.product-presentation-banner__subtitle p {
    margin: 0;
}

*+.product-presentation-banner__button {
    margin-top: 32px;
}

.product-presentation-banner__button {
    border-radius: 999px;
    background: var(--main-red, #CB342C);
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.13);
    padding: 12px 16px;
    width: fit-content;
    color: #FFF;
    text-align: center;
    font-family: var(--font-body-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    text-decoration: none;
    display: inline-block;
}

.product-presentation-banner__button:hover {
    background: #982d27;
}

.product-presentation-banner__image {
    width: 34.73251029%;
    height: auto;
    position: relative;
}

.product-presentation-banner__image img {
    display: block;
    width: 100%;
    height: auto;
}

.product-presentation-banner__badge {
    position: absolute;
    z-index: 2;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    transform: rotate(5.69deg);
    padding: 12px 16px;
    background: #B62820;
    color: #fff;
    bottom: 25px;
    left: calc(100% - 34px);
}

.product-presentation-banner__badge-title {
    font-family: var(--font-body-family);
    font-size: 19px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.38px;
    text-align: center;
}

.product-presentation-banner__badge-price {
    text-align: center;
    font-family: var(--font-heading-family);
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

.product-presentation-banner__badge-subtitle {
    text-align: center;
    font-family: var(--font-body-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 140%;
}

.product-presentation-banner__pricing-blocks {
    width: 26.33744856%;
    position: relative;
    z-index: 2;
    margin-left: 25px;
}

.product-presentation-banner__pricings {
    display: flex;
    padding: 54px 7px 14px 7px;
    flex-direction: column;
    gap: 20px;
}

.product-presentation-banner__pricing {
    color: var(--text-primary, #404040);
    font-family: var(--font-body-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
}

.product-presentation-banner__price {
    margin-left: 10px;
    float: right;
    display: flex;
    gap: 6px;
}

.product-presentation-banner__compare-at-price {
    text-decoration: line-through;
    text-decoration-color: var(--main-red, #CB342C);
}

.product-presentation-banner__actual-price {
    font-weight: 700;
}

.product-presentation-banner__total-price {
    padding: 7px;
    border-top: 1px solid var(--text-secondary, #7E7B7B);
    color: var(--text-primary, #404040);
    text-align: right;
    font-family: var(--font-body-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.product-presentation-banner__mobile-button-wrapper {
    display: none;
}

@media screen and (max-width: 1300px) {
    .product-presentation-banner__pricings {
        padding-top: 0;
    }
}

@media screen and (max-width: 1200px) {
    .product-presentation-banner__content-wrapper.page-width {
        flex-direction: column;
    }

    .product-presentation-banner__text {
        width: 100%;
    }

    .product-presentation-banner__title,
    .product-presentation-banner__subtitle {
        text-align: center;
    }

    .product-presentation-banner__title br,
    .product-presentation-banner__subtitle br {
        display: none;
    }

    .product-presentation-banner__image {
        width: 59.4972067%;
        margin-top: 16px;
        padding-left: 14px;
    }

    .product-presentation-banner__pricing-blocks {
        width: 100%;
        margin-top: 32px;
        margin-left: 0;
    }

    .product-presentation-banner__mobile-button-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    .product-presentation-banner__text .product-presentation-banner__button {
        display: none;
    }

    .product-presentation-banner__button {
        width: fit-content;
        min-width: 358px;
    }
}

@media screen and (max-width: 749px) {
    .product-presentation-banner {
        border-top-right-radius: 60px;
    }

    .product-presentation-banner__title {
        font-size: 24px;
    }

    .product-presentation-banner__image img {
        display: block;
        width: 100%;
        height: auto;
        z-index: 2;
        position: relative;
    }

    .product-presentation-banner__badge {
        z-index: 1;
        top: -4.5px;
        bottom: unset;
        left: calc(100% - 30px);
    }

    .product-presentation-banner__pricings {
        padding: 0;
        padding-bottom: 32px;
    }

    .product-presentation-banner__total-price {
        padding: 0px;
        padding-top: 8px;
    }

    .product-presentation-banner__button {
        width: 100%;
        min-width: unset;
    }
}