.footer {
    background-color: var(--background);
}

.footer__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 26px 16px;
    padding-top: 36px;
    padding-bottom: 36px;
}

.footer__menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.footer__menu>a:not(:first-child)::before {
    content: '';
    width: 4px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: var(--main-red, #CB342C);
}

.footer__menu>a {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--text-primary, #404040);
    font-family: var(--font-body-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;
    transition: color .3s ease;
}

.footer__menu>a:hover {
    color: var(--main-red, #CB342C);
}

.footer__localization-copyright {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer__copyright {
    color: var(--text-primary, #404040);
    font-family: var(--font-body-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.payment__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.payment__item {
    display: inline-flex;
}

.payment__item svg {
    width: 27px;
    height: auto;
}

.footer__text-wrapper {
    background-color: var(--main-gray);
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer__text {
    color: var(--text-primary, #404040);
    font-family: var(--font-body-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.footer__text p {
    margin: 0;
}

.footer__text p:not(:last-child) {
    margin-bottom: 3px;
}

.footer__text a {
    color: var(--main-red, #CB342C);
}

@media screen and (max-width: 749px) {
    .footer__header {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0;
        padding-top: 24px;
        padding-bottom: 20px;
    }

    .footer__menu {
        gap: 8px;
    }

    .footer__menu>a {
        gap: 8px;
    }

    .footer__localization-copyright {
        flex-direction: column;
        align-items: start;
        gap: 16px;
        margin-top: 45px;
    }

    .footer__payment {
        margin-top: 16px;
    }

    .footer__text-wrapper {
        padding-top: 17px;
    }
}