.ingredients-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients-slider__title.page-width,
.ingredients-slider__subtitle.page-width {
    max-width: 998px;
}

.ingredients-slider__title {
    color: var(--text-primary, #404040);
    text-align: center;
    font-family: var(--font-heading-family);
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

.ingredients-slider__title+.ingredients-slider__subtitle {
    margin-top: 16px;
}

.ingredients-slider__subtitle {
    color: var(--text-primary, #404040);
    text-align: center;
    font-family: var(--font-body-family);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.ingredients-slider__subtitle p {
    margin: 0;
}

.ingredients-slider__subtitle p:not(:last-child) {
    margin-bottom: 10px;
}

*+.ingredients-slider__slider.swiper {
    padding-top: 56px;
}

.ingredients-slider__slider {
    overflow: hidden;
    width: 100%;
}

.ingredients-slider__slider .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.ingredients-slider__slide.swiper-slide {
    width: calc(100% / 4 - 24px / (4 / 3));
    flex-shrink: 0;
    cursor: pointer;
    transition: .3s ease;
}

.ingredients-slider__slide.swiper-slide:hover {
    transform: scale(1.04);
}

.slider-ingredient-card {
    width: 100%;
}

.slider-ingredient-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0 7.072px 28.288px 0 rgba(146, 147, 147, 0.30);
}

.ingredients-slider__slide.swiper-slide:not(:last-child) {
    margin-right: 24px;
}

.slider-ingredient-card__plus {
    z-index: 2;
    position: absolute;
    border-radius: 16px;
    background: #FFF;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
}

.slider-ingredient-card__plus svg {
    width: 18px;
    height: 18px;
}

.slider-ingredient-card__image {
    width: 100%;
    position: relative;
}

.slider-ingredient-card__image::before {
    content: '';
    width: 100%;
    padding-bottom: 79.61538462%;
    display: block;
}

.slider-ingredient-card__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-ingredient-card__content {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.slider-ingredient-card__name {
    color: var(--text-secondary, #4A4A68);
    font-family: var(--font-body-family);
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    margin: 0;
}

.slider-ingredient-card__title {
    color: var(--text-primary, #404040);
    font-family: var(--font-heading-family);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
    word-break: break-word;
    hyphens: auto;
}

.ingredients-slider__slider:has(+.ingredients-slider__button-wrapper) {
    padding-bottom: 56px;
}

.ingredients-slider__button-wrapper {
    display: flex;
    justify-content: center;
}

.ingredients-slider__button {
    padding: 17px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-red, #CB342C);
    text-align: center;
    font-family: var(--font-body-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    border-radius: 50px;
    border: 1px solid var(--main-red, #CB342C);
    background-color: #FFF;
    transition: .3s ease;
    text-decoration: none;
}

.ingredients-slider__button:hover {
    background-color: var(--main-red, #CB342C);
    color: #FFF;
}

@media screen and (max-width: 1100px) {
    .slider-ingredient-card__title br {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .ingredients-slider__slide.swiper-slide {
        width: calc(100% / 3 - 24px / (3 / 2));
    }
}

@media screen and (max-width: 749px) {
    .ingredients-slider__title {
        font-size: 24px;
    }

    .ingredients-slider__subtitle {
        font-size: 16px;
    }

    *+.ingredients-slider__slider.swiper {
        padding-top: 32px;
    }

    .ingredients-slider__slide.swiper-slide {
        width: 280px;
    }

    .ingredients-slider__slide.swiper-slide:not(:last-child) {
        margin-right: 16px;
    }

    .slider-ingredient-card__image::before {
        padding-bottom: 92.85714286%;
    }

    .slider-ingredient-card__title {
        font-size: 19px;
        letter-spacing: -0.38px;
    }

    .ingredients-slider__slider:has(+.ingredients-slider__button-wrapper) {
        padding-bottom: 32px;
    }

    .ingredients-slider__button-wrapper {
        padding: 0 33px;
    }

    .ingredients-slider__button {
        padding: 12px 16px;
    }
}