.blocks-with-image-grid {
  width: 100%;
  position: relative;
  background-color: var(--background-color);
}

.blocks-with-image-grid__wrapper {
  position: relative;
}

.blocks-with-image-grid__items-wrapper {
  overflow: visible;
}

.blocks-with-image-grid__heading {
  text-align: var(--heading-alignment);
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
  font-size: clamp(24px,5vw,40px);
  vertical-align: middle;
  color: var(--text-color);
}

.blocks-with-image-grid__items {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 32px 70px;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.blocks-with-image-grid__items::-webkit-scrollbar {
  display: none;
}
.blocks-with-image-grid__items {
  scrollbar-width: none;
}

.blocks-with-image-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  flex: 0 0 280px;
  scroll-snap-align: center;
}

.blocks-with-image-item__image-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 24px;
}

.blocks-with-image-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blocks-with-image-item__content {
  text-align: start;
  position: relative;
}

.blocks-with-image-item__content * {
  margin: 0;
  color: var(--text-color);
}

.blocks-with-image-item__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blocks-with-image-item__text h3 {
  font-weight: 600;
  font-size: clamp(19px, 3vw, 24px);
  line-height: 140%;
  letter-spacing: 0;
  vertical-align: middle;
}

.blocks-with-image-item__text p {
  font-family: var(--font-body-family);
  font-weight: 400;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 140%;
  letter-spacing: 0;
  vertical-align: middle;
}

@media screen and (min-width: 1025px) {
  .blocks-with-image-grid__items {
    justify-content: center;
    overflow: visible;
  }

  .blocks-with-image-item {
    flex: 0 0 calc(20% - 19px);
  }
}

@media screen and (max-width: 1439px) {
  .blocks-with-image-grid__items {
    padding: 32px;
  }
}

@media screen and (max-width: 768px) {
  .blocks-with-image-grid__heading {
    margin-bottom: 0;
  }

  .blocks-with-image-item__text {
    font-size: 16px;
  }

  .blocks-with-image-item {
    max-width: 240px;
  }

  .blocks-with-image-grid__items {
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
  }
}