.science {
    padding: 0px 0px 40px 0px;
    background-color: #BCDDB8;
}

.science-container {
    display: flex;
    align-items: center;
    gap: 120px;
}

.science-content {
    max-width: 600px;
}

.science img {
    width: 100%;
    max-width: 520px;
}

.science-label {
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 14px;
}

.science h2 {
    font-weight: 500;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.science p {
    max-width: 500px;
    font-size: 20px !important;
    line-height: 140%;
}

.science-buttons {
    margin-top: 32px !important;
}

@media (max-width: 961px) {
    .science-container {
        flex-direction: column;
        gap: 60px;
    }

    .science-content {
        max-width: 100%;
    }

    .science h2 {
        font-size: 28px;
    }

    .science-buttons {
        flex-direction: column;
        margin-top: 40px;
    }

    .science-buttons .button {
        margin: auto !important;
        width: 100% !important;
    }

    .science-content p {
        font-size: 16px !important;
    }
}