.stats-percentage {
  font-size: 6rem;
  font-family: "Junge", serif !important;
}

.stats-container {
  background: #FBB4BC;
  padding: 60px 0 60px;
}
.stats-hero p{
  max-width:600px;
  text-align: center;
  margin: 0 auto;
}
.stats-list {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  flex-direction: row;
}

.stats-item {
  max-width:30%;
}

.stats-text {
  width: 100%;
}
.stats-hero .title{
    margin: 0 0 10px;
}


@media screen and (max-width: 728px) {
  .stats-percentage {
    font-size: 4rem;
  }

  .stats-container {
    padding: 20px 0 20px 0;
  }
  
  .stats-list {
    flex-direction: column;
    padding: 0 5vw;
  }
  
  .stats-item {
    max-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }

  .stats-item div {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .stats-item:last-of-type {
    border-bottom: 0px;
  }
  .stats-hero .title{
    margin: 0 0 10px;
    font-size:24px;
  }
  .stats-hero p{
    font-size:16;
  }
}
