.hero-banner {
    position: relative;
}

.hero-banner__media {
    position: relative;
    height: var(--section-height);
}

.hero-banner__media>:is(img, video) {
    filter: brightness(var(--media-brightness));
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top center;
    border-bottom-right-radius: 120px;
}

.hero-banner__content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    z-index: 2;
    padding: 67px 50px;
    margin: 0 auto;
    max-width: var(--page-width);
}

.hero-banner__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 27px;
}

.hero-banner__heading {
    color: #FFF;
    text-align: center;
    font-family: var(--font-heading-family);
    font-size: 64px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.28px;
    max-width: 1095px;
    margin: 0;
}

.hero-banner__subtitle {
    color: #FFF;
    text-align: center;
    font-family: var(--font-body-family);
    font-size: 19px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.19px;
    max-width: 665px;
    margin: 0;
}

.hero-banner__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: var(--main-red, #CB342C);
    border-radius: 50px;
    color: #FFF;
    text-align: center;
    font-family: var(--font-body-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.13);
    transition: .3s ease;
    text-decoration: none;
}

.hero-banner__button:hover {
    background: #982d27;
}

.hero-logos-content {
    width: 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.hero-logos-content__logo-item {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero-banner__extra-blocks {
    max-width: var(--page-width);
    display: flex;
    gap: 24px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: -11px;
    width: 100%;
}

.hero-review-block {
    border-radius: 16px;
    background: var(--background-white, #FFF);
    box-shadow: 0 7.072px 28.288px 0 rgba(146, 147, 147, 0.30);
    display: flex;
    align-items: center;
    gap: 16px;
    min-height: 99px;
    width: 38%;
    padding: 20px 24px;
    z-index: 2;
}

.hero-review-block__image {
    width: 97px;
    height: auto;
    display: block;
    flex-shrink: 0;
}

.hero-review-block__rating-text {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-primary, #404040);
    font-family: var(--font-body-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.hero-review-block__rating-text svg {
    display: block;
    width: 80px;
    height: auto;
    flex-shrink: 0;
}

.hero-review-block__text {
    margin: 0;
    color: var(--text-primary, #404040);
    font-family: var(--font-body-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.hero-logo-links-block {
    width: 62%;
    border-radius: 16px;
    background: var(--background-white, #FFF);
    box-shadow: 0 7.072px 28.288px 0 rgba(146, 147, 147, 0.30);
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    min-height: 99px;
    padding: 11px 75px;
    z-index: 3;
}

.hero-logo-links-block__title {
    margin: 0;
    color: var(--text-primary, #404040);
    font-family: var(--font-heading-family);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
}

.hero-logo-links-block__logo {
    height: 20px;
    width: auto;
    display: block;
}

@media screen and (max-width: 1150px) {
    .hero-logo-links-block {
        padding: 11px 24px;
    }
}

@media screen and (max-width: 900px) {
    .hero-banner__content {
        flex-direction: column;
        align-items: center;
        padding: 12px 20px 40px 20px;
        gap: 24px;
    }

    .hero-banner__main-content {
        margin-bottom: 0;
    }

    .hero-banner__subtitle {
        display: none;
    }

    .hero-logos-content {
        width: auto;
        height: 80px;
        flex-direction: row;
        gap: 29px;
    }

    .hero-logos-content__logo-item {
        max-height: 100%;
        width: auto;
        display: block;
    }

    .hero-banner__extra-blocks {
        padding: 0 16px;
        margin-top: -16px;
    }

    .hero-review-block {
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 0;
        background: var(--main-gray, #ECF1F4);
        box-shadow: none;
        align-items: start;
        gap: 8px;
        min-height: fit-content;
        width: 100%;
        padding: 8px 16px;
        z-index: 2;
    }

    .hero-review-block__image {
        width: 55px;
    }

    .hero-review-block__rating-text {
        padding: 4px 0px;
        font-size: 9px;
    }

    .hero-review-block__rating-text svg {
        width: 58px;
    }

    .hero-review-block__text {
        font-size: 10px;
    }

    .hero-logo-links-block__title {
        width: 100%;
        text-align: center;
    }

    .hero-logo-links-block {
        width: 100%;
        gap: 12px 32px;
        flex-wrap: wrap;
        min-height: 80px;
        padding: 16px;
        justify-content: center;
    }

    .hero-logo-links-block__logos {
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-logo-links-block__logo {
        height: 16px;
    }
}

@media screen and (max-width: 749px) {
    .hero-banner__media {
        height: var(--section-height-mobile);
    }

    .hero-banner__heading {
        font-size: 33px;
        line-height: 120%;
        letter-spacing: unset;
    }

    .hero-logo-links-block__title {
        font-size: 16px;
        letter-spacing: -0.32px;
    }
}