.c-banner {}

.c-banner__wrapper {
  padding: 143px 0 139px;
  position: relative;
}

.c-banner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 25px 34px 34px 25px;
  background: #ECF1F4;
  border-radius: 20px;
}

.c-banner__title {
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #404040;
  margin: 0;
  letter-spacing: -0.7px;
}

.c-banner__icons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 22px;
  flex-wrap: wrap;
}

.c-banner__icon {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #404040;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 8px;
  border-radius: 999px;
  width: fit-content;
  letter-spacing: normal;
}

.c-banner__content-left {
  max-width: 60.113%;
  width: 100%;
}

.c-banner__icon img {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

.c-banner__icon-main.c-banner__icon {
  background: #FAFCFE;
}

.c-banner__icon-secondary.c-banner__icon {
  background: #d5e4e8;
}

.c-banner__content-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 11px;
}

.c-banner__image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  /* width: 50%; */
  width: 650px;
}

.c-banner__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-banner .c-banner__image-mobile {
  display: none;
}

@media screen and (max-width: 1292px) {
  .c-banner__image {
    /* right: 3%; */
  }
}

@media screen and (min-width: 1100px) and (max-width: 1150px) {
  .c-banner__title {
    font-size: 30px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1099px) {
  .c-banner__title {
    font-size: 28px;
  }

  .c-banner__image {
    /* width: 40%; */
    width: 600px;
    /* height: 80%; */
    height: 100%;
    bottom: 0;
    top: auto;
    /* right: 8%; */
    right: 0;
  }
}

@media screen and (max-width: 990px) {

  .c-banner__image,
  .c-banner__content-right,
  .c-banner__icons {
    display: none;
  }

  .c-banner__wrapper {
    padding: 0;
  }

  .c-banner__content-left {
    max-width: 100%;
  }

  .c-banner__title {
    font-size: 24px;
    text-align: center;
    line-height: 130%;
  }

  .c-banner__content {
    padding: 24px 10px 16px;
    border-radius: 24px 24px 0 0;
    background: #FFFFFF;
  }

  .c-banner .c-banner__image-mobile {
    display: block;
  }

  .c-banner .c-banner__image-mobile::before {
    padding-top: 56.155%;
  }

  .c-banner .c-container {
    margin-top: -49px;
  }
}