.video-interactable .banner__content {
  pointer-events: none;
}

.video-interactable .banner__content .button {
  pointer-events: visible;
}

.video-interactable .banner__media {
  z-index: 1;
}

.video-interactable:not(.banner--mobile-bottom) .banner__media::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  background-color: rgba(var(--color-overlay),var(--color-overlay-opacity));
}

.video-interactable .banner__media video,
.video-interactable .banner__media iframe {
  pointer-events: visible;
}

.banner__media video,
.banner__media iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.banner__media video {
  position: relative;
  object-fit: cover;
}

.banner__media iframe {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  max-width: none;
}
.banner__heading{font-weight:500}

@media screen and (min-width: 1200px) {
  .banner__media iframe {
    width: 100%;
    height: 300%;
    left: auto;
    top: -100%;
  }
}
h1 {
  font-weight: 500 !important;
}
.button {
  display: block;
/*  margin: 30px auto 15px; */
}
.hero-ctas{
  display: inline-flex;
    align-items: center;
    justify-content: center;
  gap:10px;
}
.banner__box {
  padding: 2rem 1rem;
}
.banner__content {
  background: #e76464 !important;
  color: #fff;
  padding:20px 0;
}
.hero-packshot {
  margin-top: -150px;
  margin-bottom: -40px;
  max-width: 200px !important;
}
.hero-horm-packshot{
  margin-top: -150px;
  max-width: 250px !important;
  }
.banner__heading,
.banner__box p {
  color: #fff;
}
@media (min-width: 921px) {
.banner__content {
  background: none !important;
}  
  .hero-packshot{
position: absolute;
    left: 80%;
    max-width: 450px !important;
    top: 30%;
  }
  .hero-horm-packshot{
    position: absolute;
    left: 110%;
    max-width: 450px!important;
    top: 30%;
  }
.hero-video .banner__media {
  width: 50%;
  position: relative;
  margin-left: 50%;
}
.banner__box {
  width: 45% !important;
}
}

.hero-video .banner {
  background: #e76464;
}
.hero-video .banner__media {
  z-index: 1;
}
@media (max-width: 921px) {
.hero-ctas{
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
}
}