.package-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E76464;
    width: 100%;
}

.package-section .page-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.package-section h2 {
    text-align: center;
    font-weight: 500;
    color: white;
}

.package-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 100px;
}

.package-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: 250px;
    width: 100%;
}

.package-item img {
    max-width: 230px;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.package-item h4 {
    color: white;
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.package-item p {
    color: white;
    margin-bottom: 0;
    text-align: center;
    line-height: 130%;
}

@media (max-width: 481px) {
    .package-wrapper {
        gap: 80px;
    }

    .package-section .button {
        width: 100% !important;
    }

    .package-item {
        max-width: 100%;
    }

    .package-item img {
        max-width: 100%;
    }
}