 .container {
    display: flex;
    background-color: white; /* White background */
    padding: 10px; /* Padding of 10px */
    border-radius: 15px; /* Border radius of 20px */
    align-items: center; /* Align items vertically */
    color: #252A31;
    text-decoration: none;
margin:5px 0 !important;
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align content vertically */
    line-height: 1.2; /* Adjust line height */
  }

  .column:first-child {
    /* Adjust the path to your image */
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    max-width: 60px; /* Maximum width of the first column */
    width: 100%; /* Ensure the first column takes up full width */
    height: 60px; /* Height of the image */
  }

  span {
    /* Additional styling for spans */
  }

  .prod_title {
    font-size: 16px;
    font-weight: 500;
  }

  .prod_price {
    font-size: 16px;
    font-weight:500;
  }

  .prod_months {
    font-size: 12px;
  }

  .prod_payment {
    font-size: 12px;
    opacity: 0.5;
  }
.prod_price, .prod_months, .prod_payment{
  text-align:right;
}
.prod_subtitle{opacity:0.5; font-size:14px;}
.prod_savetitle{
  color:#fff;
  font-weight:800;
  font-size:12px;
  background:#E76464;
    width: 80px;
    text-align: center;
  padding:3px;
  border-radius:10px;
}