.faq-tabs {
  background-color: var(--background-color);
  border-radius: 20px;
  color: var(--text-color);
  max-width: 1378px;
}

.faq-tabs__container {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.faq-tabs__header {
  flex: 0 0 491px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-tabs__heading {
  margin: 0;
  font-weight: 600;
  font-size: clamp(24px,5vw,40px);
  line-height: 100%;
  letter-spacing: -1px;
  vertical-align: middle;
}

.faq-tabs__sublinks {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}

.faq-tabs__heading strong {
  color: var(--text-color-highlight);
}

.faq-tabs__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-tabs__link {
  color: var(--text-color);
  background-image: var(--link-icon);
  background-size: 20px;
  padding-right: 20px;
  background-position: right;
  background-repeat: no-repeat;
}

.faq-tabs__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.faq-tabs__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 16px 24px;
  background: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: 700;
  font-size: clamp(16px,3vw,19px);
  line-height: 140%;
  letter-spacing: 0;
  vertical-align: middle;
}

.faq-tabs__input:checked + .faq-tabs__label {
  background-color: #f9f9f9;
}

.faq-tabs__arrow {
  transition: transform 0.3s ease;
  display: flex;
}
.faq-tabs__input:checked + .faq-tabs__label .faq-tabs__arrow {
  transform: rotate(90deg);
}

.faq-tabs__pane {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.faq-tabs__input:checked ~ .faq-tabs__pane {
  grid-template-rows: 1fr;
}

.faq-tabs__answer {
  min-height: 0;
  padding: 0 24px;
  opacity: 0;
  transition: opacity 0.3s ease, padding 0.4s ease;
}

.faq-tabs__input:checked ~ .faq-tabs__pane .faq-tabs__answer {
  opacity: 1;
  padding: 15px 5px;
}

@media screen and (max-width: 990px) {
  .faq-tabs {
    border-radius: 0 60px 0 0;
  }
  .faq-tabs__container {
    flex-direction: column;
    gap: 32px;
  }
  .faq-tabs__header {
    flex: 1 1 auto;
  }
  .faq-tabs__label {
    padding: 12px 16px;
  }
}