.insta-community {
  background-color: var(--background-color);
}

.insta-community__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.insta-community__title {
  font-size: clamp(24px, 4vw, 40px);
  margin: 0 0 5px 0;
  color: var(--text-color);
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.02rem;
  vertical-align: middle;
  max-width: 588px;
}

.insta-community__social-buttons {
  display: flex;
  gap: 12px;
}

.insta-community__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 50px;
  background: #ffffff;
  color: var(--btn-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: clamp(12px, 1vw, 14px);
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 4px 13px #00000021;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.insta-community__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.insta-community__btn-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.insta-community__hashtag {
  color: var(--hashtag-color);
  font-weight: 400;
  font-size: clamp(16px, 2vw, 19px);
  line-height: 140%;
  letter-spacing: 0;
  vertical-align: middle;
}

.insta-community__widget-wrap {
  transform: scaleY(1.2);
  overflow-x: hidden;
  margin: 5% 0;
}

.insta-community__widget {
  transform: scaleX(1.2);
}

.insta-community__social-buttons--mobile,
.insta-community__hashtag--mobile {
  display: none !important;
}

.insta-community__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .insta-community__social-buttons--desktop {
    display: none !important;
  }

  .insta-community__social-buttons--mobile,
  .insta-community__hashtag--mobile {
    display: flex !important;
  }

  .insta-community__header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .insta-community__footer-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .insta-community__social-buttons--mobile {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .insta-community__btn {
    padding: 13px 20px;
  }

  .insta-community__widget-wrap {
    margin-top: 10%;
    margin-bottom: 8%;
  }
}