.app-features {
  position: relative;
  overflow: hidden;
  background-color: var(--section-background);
  color: var(--section-color);
  border-radius: 20px;
  max-width: 1378px;
}

.app-features,
.app-features .page-width {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.app-features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}

.app-features__container--reverse {
  flex-direction: column;
}

.app-features__badges {
  position: absolute;
  top: 0;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  z-index: 2;
}

.app-features__image picture {
  display: block;
  line-height: 0;
}

.app-features__image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

.app-features__image--mobile {
  display: none;
}

.app-features__image--desktop {
  display: block;
}

.app-features__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 90px 0;
}

.app-features__title {
  margin: 0;
  font-weight: 600;
  font-size: clamp(24px,5vw,40px);
  line-height: normal;
  letter-spacing: -1px;
  vertical-align: middle;
  color: var(--section-color);
}

.app-features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app-features__item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  line-height: 1.5;
}

.app-features__icon {
  flex-shrink: 0;
  width: 13px;
  height: 9px;
  margin-top: 6px;
  display: flex;
}

.app-features__icon img,
.app-features__icon svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.app-features__text {
  margin: 0;
  flex: 1;
}

.app-features__text p {
  margin: 0;
  font-size: clamp(13px,2vw,16px);
  line-height: 140%;
  letter-spacing: 0;
  vertical-align: middle;
}

.app-features__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 11px;
}

.app-features__btn {
  text-decoration: none;
  padding: 12px 16px;
  transition: background-color 0.3s ease;
  display: inline-block;
  background-color: var(--button-background);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  border-radius: var(--button-radius);
  font-size: clamp(14px,2vw,16px);
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 4px 13px #00000021;
}

.app-features__btn:hover {
  background-color: #982d27;
}

.app-features__badge-link {
  display: block;
  line-height: 0;
  transition: opacity 0.3s;
}

.app-features__badge-link:hover {
  opacity: 0.8;
}

.app-features__badge-link img {
  height: auto;
  display: block;
}

@media screen and (min-width: 900px) {
  .app-features__container { flex-direction: row; }
  .app-features__container--reverse { flex-direction: row-reverse; }
  .app-features__image,
  .app-features__content {
    flex: 1;
    width: 50%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
  .app-features__content {
    max-width: 560px;
  }
}

@media screen and (max-width: 900px) {
  .app-features {
    border-radius: 0 60px 0 0;
  }

  .app-features__container {
    flex-direction: column-reverse;
    gap: 41px;
  }

  .app-features__list {
    gap: 8px;
  }

  .app-features__icon {
    width: 10px;
    height: 7px;
    margin-top: 5px;
  }

  .app-features__btn{
    width: 100%;
  }

  .app-features__badges {
    display: none;
  }

  .app-features__content {
    gap: 18px;
    padding: 0;
  }

  .app-features__actions {
    margin-top: 6px;
  }

  .app-features__image {
    width: 100%;
  }

  .app-features__image:has(.app-features__image--mobile) .app-features__image--desktop {
    display: none;
  }
  .app-features__image:has(.app-features__image--mobile) .app-features__image--mobile {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .app-features,
  .app-features .page-width {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}